<h1>Here is a list of everyone, and there are {{length}} people!</h1>
<div class="home-link">
  {{#link-to "index"}}Home{{/link-to}}
</div>
<table class="table table.striped">
  <tbody>
    {{#each controller}}
    <tr>
      <td>Person Link</td>
      <td>{{age}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>